<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Session Automation suite" >

  <test name="Diferrent testing Feature" >
  
    <classes>
       <class name="com.TestNGBasicAnnotations.AssertionTest" />
       <class name="com.TestNGBasicAnnotations.ExpectedExceptionTest" />
       <class name="com.TestNGBasicAnnotations.GoogleTest" />
       <class name="com.TestNGBasicAnnotations.InvocationCountTest" />
       <class name="com.TestNGBasicAnnotations.TestNGBASICS" />
    </classes>
    
    
    
  </test>
</suite>